.confirm-button{
    background-color:#19485F !important;
    color: #ffff !important;
    width:50%;
}
@media(max-width:850px){
    .cncle-btn,.sbt-btn{
      width: -webkit-fill-available;
      margin-bottom: 10px;
  
    }
  }