<div class="button-group">
  <button mat-raised-button class="add-buton" style="background-color: #19485F; color: #d3c0aa;" (click)="onAdd()">
    <mat-icon style="background-color: #19485F; color: #d3c0aa;">add</mat-icon>
    Add Relationship
  </button>
  <button mat-raised-button style="color: #19485F; background-color: #d3c0aa;" class="genogram-button" [disabled]="relationships.length==0" (click)="onGenogram()">
    <mat-icon>zoom_out_map</mat-icon>
    Genogram
  </button>
  
  <div  class="containerSearch"  *ngIf="relationships.length!=0">
    <mat-form-field appearance="outline" style="width: 100%;" class="search-height" >
    <mat-icon class="icon-padding" matPrefix>search</mat-icon>
    <input
          matInput
         
          (keyup)="applyFilter($event)"
          placeholder="Search"
          style="font-size: 18px; color: #19485F !important;"
        />
    </mat-form-field>
    </div>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef ></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="more_verti">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit(element)" class="edit-text">
          <mat-icon class="edit-text">edit</mat-icon>
          Edit
        </button>
        <button mat-menu-item (click)="onDelete(element)" class="del-text">
          <mat-icon class="del-text">delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef class="firstname" mat-sort-header>First Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a (click)="onEdit(element)" class="a-link">{{ element.firstName }}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef class="firstname" mat-sort-header>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="relationshipType">
    <mat-header-cell *matHeaderCellDef class="firstname" mat-sort-header>Relationship</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.relationshipType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef class="firstname" mat-sort-header>Phone Number</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.phoneNumber || ' ' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef class="firstname" mat-sort-header>Mail</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.email || ' ' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="isPrimaryContact">
    <mat-header-cell *matHeaderCellDef class="firstname">Primary Contact</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="primary-contact-box" *ngIf="element.isPrimaryContact;">
        <mat-icon color="primary">check</mat-icon>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="remarks">
    <mat-header-cell *matHeaderCellDef class="firstname">Remarks</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a (click)="onRemarks(element)">
        <mat-icon class="chat" *ngIf="element.remarks">chat</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>

