
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f3ede6 ; }


.custom-checkbox .mdc-checkbox__background {
    border: 2px solid #19485F !important; 
}


.custom-checkbox .mdc-checkbox__checkmark {
    border: 2px solid #19485F !important; 
    background: #19485F !important;
    color: #d3c0aa !important; 
}
button{
    cursor:pointer !important;
}
  a{
    cursor:pointer !important;
  }



  .mat-mdc-dialog-surface,.mdc-dialog__surface{
    overflow-y: hidden !important;
  }




