/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f3ede6 ; }
.mdc-checkbox__native-control {
    background-color: #19485F !important; /* Change checkmark background */
  }


.custom-checkbox .mdc-checkbox__checkmark{ 
    background: #19485F !important;
    color: #d3c0aa !important;
}