<div class="main-container">
  <mat-card class="profile-card">
    <div class="header">
      <div class="profile-image">
        <img src="assets/images/Child1.png" alt="Child" />
      </div>
      <div class="info">
        <p>
          <span class="icon-text">
            <mat-icon>child_care</mat-icon> <strong>Name:</strong> {{ child?.name }}
          </span>
          <br />
          <span class="icon-text">
            <mat-icon>address</mat-icon> <strong>Address:</strong> {{ child?.address }}
          </span>
          <br />
          <span class="icon-text">
            <mat-icon>my_location</mat-icon> <strong>Link:</strong>
            <a href="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9544595,77.3012491,10z/data=!3m1!4b1!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627!16zL20vMDljMTc?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" target="_blank">In Google Maps</a>
          </span>
        </p>
      </div>
      <div class="details">
        <p>
          <span class="icon-text">
            <mat-icon>flag</mat-icon> <strong>Nationality:</strong> {{ child?.nationality }}
          </span>
          <br />
          <span class="icon-text">
            <mat-icon>language</mat-icon> <strong>Language:</strong> {{ child?.language }}
          </span>
          <br />
          <span class="icon-text">
            <mat-icon>calendar_today</mat-icon> <strong>DOB:</strong> {{ child?.dateOfBirth }}
          </span>
        </p>
      </div>
    </div>
  </mat-card>

  <mat-tab-group [selectedIndex]="selectedTabIndex" color="accent">
    <mat-tab label="Admissions" [disabled]="activeTab !== 0"></mat-tab>
    <mat-tab label="Counselling" [disabled]="activeTab !== 1"></mat-tab>
    <mat-tab label="Guardians" [disabled]="activeTab !== 2">
      <app-relationship-table [relationships]="relationships" [childId]="childId"></app-relationship-table>
    </mat-tab>
    <mat-tab label="Documents" [disabled]="activeTab !== 3"></mat-tab>
    <mat-tab label="Efforts" [disabled]="activeTab !== 4"></mat-tab>
    <mat-tab label="Mail" [disabled]="activeTab !== 5"></mat-tab>
  </mat-tab-group>
  
 
</div>
