
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 25px;
  padding: 30px;
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


mat-card.profile-card {
  width: 100%; 
  padding: 8px;
  background-color: rgb(241, 202, 222); 
  border-radius: 10px;
  color: #333; 
  margin-bottom: 20px; 
  transition: height 0.3s ease; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-image img {
  width: 125px;
  height: 125px;
  border-radius: 50%; 
  object-fit: cover;
  border: 3px solid #ff4081;
}

.info {
  flex: 1;
  margin-left: 20px;
}

.details {
  flex: 1;
}

.info p,
.details p {
  margin: 15px 0;
}

.info strong,
.details strong {
  display: inline-block;
}

mat-tab-group {
  width: 100%; 
  margin-top: 20px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.icon-text mat-icon {
  font-size: 24px;
  color: #ff4081; 
}

strong {
  font-weight: bold;
  color: #333;
}

button {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e91e63;
  cursor: pointer;
}

@media (max-width: 768px) {
  mat-card.profile-card {
    height: auto; 
  }

  .header {
    display: block; 
    align-items: flex-start; 
  }

  .profile-image img {
    width: 100px; 
    height: 100px;
  }

  .info,
  .details {
    flex: none;
    margin-left: 0;
    margin-top: 35px; 
  }

  .icon-text {
   
    margin-bottom: 12px;
  }

  .icon-text mat-icon {
    font-size: 22px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:#d8d8de ;
  border-bottom: 1px solid #ddd;
}

.left-header {
  display: flex;
  align-items: center; 
  gap: 8px; 
  margin-left: 10px;
}

.left-header mat-icon {
  font-size: 24px; 
  
}

.left-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333; 
}

.right-header {
  display: flex;
  align-items: center;
}

.right-header button {
  font-size: 14px;
  text-transform: uppercase;
}

.right-header a {
  color: blue;            
  cursor: pointer;        
  font-size: 14px;        
}

.right-header a:hover {
  color: darkblue;         
}

.arrow-icon{
 vertical-align: middle;
}