<div class="header-container">
  <div class="left-header">
    <mat-icon>account_tree</mat-icon>
    <h2>Child Care Centre</h2>
  </div>
</div>

<div class="card child-details-card">
  <div class="child-container">
    <div class="children-display">
      <h3>List of Children</h3>
      <button mat-raised-button class="add-buton"(click)="onAddChild()"><mat-icon>add</mat-icon>Add</button>
    </div>
      <div class="child-grid">
        <a
          *ngFor="let child of children"
          [routerLink]="['/child', child.id]" 
        >
          <div class="child-card">
            <img [src]="child.image ? child.image : 'assets/images/noimage.jpg'" alt="Child Image" class="child-image" />
            <div class="child-info">
              <h4 role="button">{{ child.name }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

