.diaglogbox {
    padding: 16px;
    background-color:#eaeaef; 
  }
  .form-elements{
    display: flex;
    justify-content: space-evenly;
  }

  .full-width{
    width:210px;
  }
  
  .save-btn{
    color:white;
    background-color: #6f5391;
  }

  .form-label{
    margin-bottom: -0.5rem ;
  }

  .dialogbox-container {
    box-sizing: border-box;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-dialog-actions button {
    height: 48px;
  }
  
 