.diaglogbox {
    padding: 16px;
    background-color:#eaeaef; 
  }
  .form-elements{
    display: flex;
    justify-content: space-evenly;
  }

  .full-width{
    width:210px;
  }
  
  .save-btn{
    color:white;
    background-color: #19485F;
  }

  .form-label{
    margin-bottom: -0.3rem ;
  }
  .close-btn{
    margin-left: 215px;
    position:absolute;
    margin-top: -5px;
    color:red;
  }

  .dialogbox-container {
    box-sizing: border-box;
  }
  
  .full-width {
    width: 100%;
  }
  .cncle-btn{
    padding-left: 3px;
  }
  .sbt-btn{
    padding-right: 3px;
  }
  mat-dialog-actions button {
    height: 48px;
  }
  
 .form-control{
  line-height:1.05em !important;
 }

 .form-elements{
  padding: 13px !important;
 }
 .preview-img{
  height:150px;
  width:258px;
  
 }