.diaglogbox {
    padding: 16px;
    background-color:#eaeaef; 
  }
  .form-elements{
    display: flex;
    justify-content: space-evenly;
  }

  .full-width{
    width:210px;
  }
  
  .save-btn{
    color:white;
    background-color: #19485F;
  }

  .form-label{
    margin-bottom: -0.3rem ;
  }
  .close-btn{
    margin-left: 230px;
    position:relative;
    margin-top: -3px;
    color:red;
    background-color: transparent;
    border: none;
  }

  .dialogbox-container {
    box-sizing: border-box;
  }
  
  .full-width {
    width: 100%;
  }
 
  mat-dialog-actions button {
    height: 48px;
  }
  
 .form-control{
  line-height:1.05em !important;
 }

 .form-elements{
  padding: 13px !important;
 }
 .preview-img{
  height:150px;
  width:258px;
  // position: relative;
  
 }

 mat-card{
  height: 269px;
 }

 @media(max-width:850px){
  .cncle-btn,.sbt-btn{
    width:100%;
    margin-bottom: 10px;

  }
  .close-btn {
    margin-left: 250px;
    position: absolute;
    margin-top: -1px;
    color: red;
}
  .image-preview{
    height:150px;
    width:200px;
    align-items:center;
    justify-content: center;
    position: relative;
   }
}