<div class="diaglogbox-container">
  <h2 mat-dialog-title *ngIf="!relationship">Add New Guardian</h2>
  <h2 mat-dialog-title *ngIf="relationship">Edit Guardian Details</h2>

  <div>
    <mat-dialog-content class="form-elements" >
      <form [formGroup]="form" >
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error *ngIf="form.get('firstName')?.errors && form.get('firstName')?.touched">
                <span *ngIf="form.get('firstName')?.errors?.['required']">
                  First name is required.
                </span>
                <span *ngIf="form.get('firstName')?.errors?.['minlength']">
                  First name must be at least 3 characters long.
                </span>
                <span *ngIf="form.get('firstName')?.errors?.['pattern']">
                  Enter only Letters
                </span>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col-lg-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error *ngIf="form.get('lastName')?.hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Relationship</mat-label>
              <mat-select formControlName="relationshipType">
                <mat-option *ngFor="let relationship of relationshipTypes" [value]="relationship"
                  [disabled]="isOptionDisabled(relationship)">
                  {{ relationship }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('relationshipType')?.hasError('required')">
                Relationship is required
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col-lg-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="form.get('email')?.errors && form.get('email')?.touched">
              <span *ngIf="form.get('email')?.errors?.['pattern']">
                Enter a valid email address
              </span>
             </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" />
              <mat-error *ngIf="form.get('phoneNumber')?.errors && form.get('phoneNumber')?.touched">
                <span *ngIf="form.get('phoneNumber')?.errors?.['pattern']">
                  Enter valid Phone Number
                </span>
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-6">
           

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Remarks</mat-label>
               <textarea matInput formControlName="remarks" rows="1"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <mat-checkbox formControlName="isPrimaryContact" class="custom-checkbox" [disableRipple]="false" >
              Primary Contact
            </mat-checkbox>
          </div>
        </div>

      </form>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions class="row act">
    <div class="col-md-6 cncle-btn">
      <button mat-raised-button class="btn btn-secondary w-100" color="warn" (click)="onCancel()">Cancel</button>
    </div>
    <div class="col-md-6 sbt-btn">
      <button mat-raised-button class="btn btn-primary w-100 save-btn" (click)="onSubmit()">Save</button>
    </div>
  </mat-dialog-actions>
</div>
