.diaglogbox {
  padding: 16px;
  background-color:#eaeaef; 
}


.full-width{
  width:210px;
}

.save-btn{
  color:white;
  background-color: #19485F;
}

.form-label{
  margin-bottom: -0.3rem ;
}

.diaglogbox-container {
  box-sizing: border-box;
  background-color: #ede8e1;
}
.primary{
  color:#19485F;
}
.full-width {
  width: 100%;
}
.cncle-btn{
    width: 292px;
}
.sbt-btn{
  width: 292px;
}
mat-dialog-actions button {
  height: 48px;
}

.form-control{
line-height:1.05em !important;
}
.act{
  padding-bottom: 20px;
}
.form-elements{
padding: 25px !important;
}
.preview-img{
height:150px;
width:258px;
}

mat-card{
height: 269px;
}

@media(max-width:850px){
  .cncle-btn,.sbt-btn{
    width: -webkit-fill-available;
    margin-bottom: 10px;

  }
}