
.genogram-graph {
    overflow: auto;
  }

.close-button {
  background: none;
  border: none;
  cursor: pointer !important;
}
.close-icon{
  position: absolute;
  right: 0;
  margin:5px;
  margin-right: 20px;
}

mat-card{
 justify-content: center;align-items: center;background-color: rgb(241, 202, 222);
 padding-top: 10px;

}