<div>
  <mat-card >
    <h1>Genogram - {{childName}}</h1>
    <mat-icon class="close-icon" (click)="closeGenogram()">close</mat-icon>
  </mat-card>
  
  <div class="genogram-graph" >

    <ngx-graph [view]="[850,600]" [layoutSettings]="layoutSettings" [links]="links" [nodes]="nodes" layout="dagre" >
    <ng-template #defsTemplate>
      <svg:marker id="arrow-forward" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
    
    <svg:marker id="arrow-reverse" viewBox="0 -5 10 10" refX="0" refY="0" markerWidth="4" markerHeight="4" orient="auto">
  <svg:path d="M10,-5L0,0L10,5" class="arrow-head" />
</svg:marker>
    </ng-template>
 
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <rect [attr.width]="node.dimension?.width"
              [attr.height]="node.dimension?.height || 60"
              [attr.fill]="node.id === 'child'  ? '#19485F' : node.bgcolor"
              rx="5" ry="5"
              [attr.stroke]="node.id === 'child' ? '#d3c0aa' : node.bcolor"
              stroke-width="2">
        </rect>
   
        <svg:image
        *ngIf="node.icon"
        [attr.href]="node.icon"
        x="5" 
        y="5"  
        width="20"
        height="20"
      ></svg:image>
   
      <svg:text alignment-baseline="central" [attr.x]="30" [attr.y]="node.dimension.height / 2"  [attr.fill]="node.id === 'child'  ? '#d3c0aa' : node.color">
        {{ node.label }}
      </svg:text>
      </svg:g>
    </ng-template>

   <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2"  [attr.marker-end]="!link.reverseArrow ? 'url(#arrow-forward)' : null" 
      [attr.marker-start]="link.reverseArrow ? 'url(#arrow-reverse)' : null">></svg:path>
      <svg:text class="edge-label"  text-anchor="middle">
        <textPath
          class="text-path"
         
          [attr.href]="'#' + link.id"
          [style.dominant-baseline]="link.dominantBaseline"
          [attr.startOffset]="link.customPath? '25%' : '65%'"
        >
          {{link.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>

  </ngx-graph>
 </div>
</div>