.genogram-container {
  position: relative;
  padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .genogram-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10; /* Ensure the header stays on top */
    padding: 10px;
  }
  
  .genogram-header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
  }
  
  .close-button mat-icon {
    font-size: 24px;
    vertical-align: middle;
  }
  
  .chart-container {
    flex-grow: 1;
  }
  
  .genogram-graph {
    flex-grow: 1;
    overflow: auto;
    margin-top: 70px; /* Adds space between the header and the graph */
    padding: 10px; /* Ensures the graph does not overflow the container */
  }

  