<div>
  <mat-card >
    <h1>Genogram - {{childName}}</h1>
    <mat-icon class="close-icon" (click)="closeGenogram()">close</mat-icon>
  </mat-card>
  
  <div class="genogram-graph" >

    <ngx-graph [view]="[850,600]" [layoutSettings]="layoutSettings" [links]="links" [nodes]="nodes" layout="dagre" >
    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>
 
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <rect [attr.width]="node.dimension?.width"
              [attr.height]="node.dimension?.height || 60"
              [attr.fill]="node.id === 'child' ? '#19485F' : '#d3c0aa'"
              rx="5" ry="5"
              [attr.stroke]="node.id === 'child' ? '#d3c0aa' : '#19485F'"
              stroke-width="2">
        </rect>
   
        <svg:image
        *ngIf="node.icon"
        [attr.href]="node.icon"
        x="5" 
        y="5"  
        width="20"
        height="20"
      ></svg:image>
   
      <svg:text alignment-baseline="central" [attr.x]="30" [attr.y]="node.dimension.height / 2"  [attr.fill]="node.id === 'child' ? '#d3c0aa' : '#19485F'">
        {{ node.label }}
      </svg:text>
      </svg:g>
    </ng-template>

   <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
      <svg:text class="edge-label" text-anchor="middle">
        <textPath
          class="text-path"
          [attr.href]="'#' + link.id"
          [style.dominant-baseline]="link.dominantBaseline"
          startOffset="50%"
        >
          {{link.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>

  </ngx-graph>
 </div>
</div>